.container-clients{
  min-width: 480px;
  margin-right: auto;
  margin-left: auto;
  @media screen and (min-width: 768px) {
        max-width: 768px;

  }
  @media screen and (min-width: 1200px) {
         min-width: 1200px;

}
}
.clients{
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     margin: -15px;
    @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
      margin-top: 50px;
    }


&__item{
   // width: 210px;
    margin: 15px;
    height: 92px;
    flex-basis: calc((100% - 60px) / 2);

//@media screen and (max-width: 767px) {
  //width: 210px;
 // flex-basis: calc((100% - 60px) / 2);}
@media screen and (min-width: 768px) {
  //width: 226px;
  flex-basis: calc((100% - 90px) / 3);
}
@media screen and (min-width: 1200px) {
 // width: 170px;
 margin: 0;
  margin-right: 30px;
  height: 92px;

}}
@media screen and (min-width: 1200px){

&__item:last-child{
  margin-right: 0;
}
}

}
@media screen and (min-width: 1200px){


  .clients__item:last-child{
    margin-right: 0;
  }
  }
.clients{
&__button{
    display: flex;
   justify-content: center;
   align-items: center;
   align-content: center;


    border-radius: 4px;
     background-color: $primery-background; 
     border: 1px solid $border-image;
    color: $icon-border;
    height: 92px;

    transition: border 250ms $cubic;

    @media screen and (min-width: 1200px) {
      width: 170px;
      height: 92px;
      flex-wrap: wrap;
      align-content: center;
    }
     
}
&__button:hover,
&__button:focus{
    border: 1px solid $accent-color;
    color: $accent-color;
    

}
&__icon{
    width: 106px;
    height: 106px;
    fill: currentColor;
    cursor: pointer;
    
}
}
.foster{
 
  height: 48px;
}


