.clients{
display: flex;
flex-wrap: wrap;

  align-items: center;
    margin: -15px;
    @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
    }


&__item{
    margin: 15px;
    height: 92px;

@media screen and (max-width: 767px) {
  width: 210px;
}
@media screen and (min-width: 768px) {
  width: 226px;
}
@media screen and (min-width: 1200px) {
  width: 170px;
}
}


&__button{
    display: flex;
   justify-content: center;
   align-items: center;

    border-radius: 4px;
     background-color: $primery-background; 
     border: 1px solid $border-image;
    color: $icon-border;
   


    transition: border 250ms $cubic;
   

     
}
&__button:hover,
&__button:focus{
    border: 1px solid $accent-color;
    color: $accent-color;
    

}
&__icon{
    width: 146px;
    height: 106px;
    fill: currentColor;
    cursor: pointer;
    
}
}
.foster{
  width: 106px ;
  height: 106px;
}

