.header {
  border-bottom: 1px solid $border-image;
  
}
.second-nav{
    display: none;
  }
  
  @media  screen and(max-width:480) {
    .second-nav{
      display: flex;
   
   }

   
 }


    @media screen and (min-width: 768px) {
       .second-nav{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            height: 80px;

     }}
     @media screen and (min-width: 1200px) {
      .second-nav{
       
        justify-content: space-between;
        height: 80px;
 
      }}



     
    @media screen and (min-width: 768px) {
      .header{
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        font-family: 'Roboto';
        font-style: normal;



       
        
     
        &__inner{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &__nav{
            display: flex;
            align-items: center;
    
    
        }
        }
    }

    
  
  
.page-header{
    position: relative;
}
.header .nav{
    

    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;

    @media screen and (min-width:767px){
    display:none;     
    }
}
